{% extends "base.html" %} {% block title %}MIU IEEE{% endblock %} 
{% block content %} {% load static %}
<div class="header finisher-header" style="width: 100%; height: 750px">
  <div class="d-flex justify-content-center align-items-center">
    <img
      class="w-75"
      src="{% static 'image/cover-img-1.png' %}"
      alt="heading-img"
    />
  </div>
</div>

<div>
  <div class="container text-center mt-3 block-animation">
    <h1 class="text-anuimation">Advisory Panel</h1>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div
        style="
          height: 4px;
          width: 60px;
          background-color: #28a745;
          margin-right: 8px;
        "
      ></div>
      <div style="height: 4px; width: 30px; background-color: #fd7e14"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div
        class="col-md-3 text-center mt-md-5 mt-3 block-animation d-md-block d-none"
      >
        <div class="advisor-card m-auto mt-md-5">
          <div class="picture">
            <img
              class="img-fluid"
              src="{% static 'image/aminuzzaman-sir.png' %}"
              alt="Default Male Profile Picture"
            />
          </div>
        </div>
        <h5>
          <a
            href="https://eee.manarat.ac.bd/faculty/mir-md-aminuzzaman"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-success"
          >
            Mir Md. Aminuzzaman
          </a>
        </h5>
        <h6 class="mb-0">Advisor</h6>
        <small>Assistant Professor</small>
      </div>
      <div class="col-md-3 text-center mt-md-3 block-animation">
        <div class="advisor-card m-auto">
          <div class="picture">
            <img
              class="img-fluid"
              src="{% static 'image/deen.jpg' %}"
              alt="Default Male Profile Picture"
            />
          </div>
        </div>
        <h5>
          <a
            href="https://cse.manarat.ac.bd/faculty/dr-md-mijanur-rahman"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-success"
          >
            Prof. Dr. Mijanur Rahman
          </a>
        </h5>
        <h6 class="mb-0">Counsilor</h6>
        <small>Dean, School of Science and Engineering</small>
      </div>
      <div class="col-md-3 text-center mt-md-3 mt-4 block-animation">
        <div class="advisor-card m-auto">
          <div class="picture">
            <img
              class="img-fluid"
              src="{% static 'image/ershad-sir.jpg' %}"
              alt="Default Male Profile Picture"
            />
          </div>
        </div>
        <h5>
          <a
            href="https://eee.manarat.ac.bd/faculty/md-ershadul-h-choudhury"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-success"
          >
            Prof. Md. Ershadul H. Choudhury
          </a>
        </h5>
        <h6 class="mb-0">Endorser</h6>
        <small>Head, Department of EEE</small>
      </div>
      <div
        class="col-md-3 text-center mt-mb-5 mt-3 block-animation d-md-none d-block"
      >
        <div class="advisor-card m-auto mt-md-5">
          <div class="picture">
            <img
              class="img-fluid"
              src="{% static 'image/aminuzzaman-sir.png' %}"
              alt="Default Male Profile Picture"
            />
          </div>
        </div>
        <h5>
          <a
            href="https://eee.manarat.ac.bd/faculty/mir-md-aminuzzaman"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-success"
          >
            Mir Md. Aminuzzaman
          </a>
        </h5>
        <h6 class="mb-0">Advisor</h6>
        <small>Assistant Professor</small>
      </div>
      <div class="col-md-3 text-center mt-3 mt-md-5 block-animation">
        <div class="advisor-card m-auto mt-md-5">
          <div class="picture">
            <img
              class="img-fluid"
              src="{% static 'image/shamim-sir.jpg' %}"
              alt="Default Male Profile Picture"
            />
          </div>
        </div>
        <h5>
          <a
            href="https://cse.manarat.ac.bd/faculty/md-shamimul-islam"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-success"
          >
            Md Shamimul Islam
          </a>
        </h5>
        <h6 class="mb-0">Advisor</h6>
        <small>Lecturer</small>
      </div>
    </div>
  </div>
</div>

<hr class="w-75 m-auto my-5" />

<div>
  <h1 class="text-center mb-5">Why Join IEEE?</h1>
  <ul class="ul-banner-cards">
    <li style="--accent-color: #0b374d">
      <div class="icon"><i class="fa-solid fa-earth-americas"></i></div>
      <div class="title">Global Network</div>
      <div class="descr">
        Gain access to a worldwide community of over 400,000 engineers,
        researchers, and innovators.
      </div>
    </li>
    <li style="--accent-color: #d2b53b">
      <div class="icon"><i class="fas fa-book-open"></i></div>
      <div class="title">Exclusive Resources</div>
      <div class="descr">
        Get access to IEEE Xplore, research papers, technical magazines, and
        cutting-edge innovations.
      </div>
    </li>
    <li style="--accent-color: #1286a8">
      <div class="icon"><i class="fas fa-tools"></i></div>
      <div class="title">Skill Building</div>
      <div class="descr">
        Attend workshops, seminars, and hands-on events that enhance your
        technical and soft skills.
      </div>
    </li>
    <li style="--accent-color: #fd7e14">
      <div class="icon"><i class="fas fa-rocket"></i></div>
      <div class="title">Career Boost</div>
      <div class="descr">
        Find internships, jobs, mentorship, scholarships, and professional
        certifications to accelerate your career.
      </div>
    </li>
    <li style="--accent-color: #28a745">
      <div class="icon"><i class="fas fa-lightbulb"></i></div>
      <div class="title">Innovate & Impact</div>
      <div class="descr">
        Collaborate on real-world projects, competitions, and initiatives that
        make a difference in society.
      </div>
    </li>
  </ul>
</div>

<hr class="w-75 m-auto my-5" />

<div class="price-conatainer container">
  <h1>Choose the plan that fits for you</h1>
  <p>
    Become a part of a global engineering network. Choose the membership that
    suits your goals.
  </p>

  <div class="pricing gap-4">
    <div class="plan popular">
      <span>Most Popular</span>
      <h2>IEEE International Membership</h2>
      <div class="price">1000৳/Year</div>
      <ul class="features">
        <li><i class="fas fa-check-circle"></i> Global IEEE Membership</li>
        <li>
          <i class="fas fa-check-circle"></i> Access to IEEE Digital Library
        </li>
        <li>
          <i class="fas fa-check-circle"></i> Student benefits & scholarships
        </li>
        <li>
          <i class="fas fa-check-circle"></i> Enjoy discounts on IEEE
          conferences
        </li>
        <li>
          <i class="fas fa-check-circle"></i> Participate in global contests
        </li>
      </ul>
      <button>Contact Us</button>
    </div>
    <div class="plan popular">
      <h2>IEEE Branch Membership</h2>
      <div class="price">200৳/Year</div>
      <ul class="features">
        <li><i class="fas fa-check-circle"></i> Local branch membership</li>
        <li>
          <i class="fas fa-check-circle"></i> Access to branch events/workshops
        </li>
        <li>
          <i class="fas fa-check-circle"></i> Networking with fellow students
        </li>
        <li><i class="fas fa-check-circle"></i> Leadership & volunteering</li>
        <li>
          <i class="fas fa-times-circle"></i> No IEEE ID or global IEEE benefits
        </li>
      </ul>
      <button>Contact Us</button>
    </div>
  </div>
</div>

<hr class="w-75 m-auto my-5" />

<div class="container text-center mt-5">
  <h1>Event Spotlight</h1>
  <p class="text-muted fs-5">
    Explore the highlights of our impactful events and vibrant moments.
  </p>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <div
      style="
        height: 4px;
        width: 60px;
        background-color: #28a745;
        margin-right: 8px;
      "
    ></div>
    <div style="height: 4px; width: 30px; background-color: #fd7e14"></div>
  </div>
</div>

<div class="infinite-scroll-container">
  <div class="infinite-scroll-track">
    {% for event in events %}
    <div class="infinite-scroll-card card shadow h-100 w-100">
      <div class="ratio ratio-16x9">
        {% if event.image %}
        <img
          src="{{ event.image.url }}"
          class="card-img-top"
          loading="lazy"
          alt="{{ event.title }}"
        />
        {% endif %}
      </div>
      <div class="card-body p-3 p-xl-5">
        <small
          ><i class="fa-solid fa-calendar-days"></i> {{ event.date }}</small
        >
        <h3 class="card-title h5 mt-2 mb-2">{{ event.title }}</h3>
        <small
          ><i class="fa-solid fa-location-dot"></i> {{ event.location }}
        </small>
        <p class="card-text mt-2">{{ event.summary }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<button class="morphing-button m-auto">
  <span
    ><a class="text-decoration-none text-white" href="{% url 'event_gallery' %}"
      >Explore More</a
    ></span
  >
  <i class="fas fa-arrow-right"></i>
</button>

{% endblock %}
