{% load static %}
<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container container-fluid">
    <div class="d-flex align-items-center gap-2">
      <img src="{% static "image/logo-png.png" %}" width="40px" alt=" logo">
      <a
        class="navbar-brand"
        style="color: rgb(78, 227, 52)  !important"
        href="{% url 'home' %}"
      >
        IEEE MIU SB
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars-staggered"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-menu ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active nav-text text-hover-effect-1"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link nav-text text-black text-hover-effect-1"
            href="{% url 'committee_list' sessions.0.slug %}"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Committee
            <i class="fa-solid fa-chevron-down" style="font-size: 0.9rem"></i>
          </a>    
            
          <ul class="dropdown-menu">
            {% for session in sessions %}
            <li>
              <a
                class="dropdown-item nav-text text-hover-effect-1"
                href="{% url 'committee_list' session.slug %}"
              >
                {{ session.year }}
              </a>
            </li>
            {% endfor %} 
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active nav-text text-hover-effect-1"
            aria-current="page"
            href="{% url 'event_gallery' %}"
            >Event</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active nav-text text-hover-effect-1"
            aria-current="page"
            href="{% url 'photo_gallery' %}"
            >Gallery</a
          >
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a
            class="nav-link active nav-text text-hover-effect-1"
            aria-current="page"
            href="{% url 'event_create' %}"
            >Create Event</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active nav-text text-hover-effect-1"
            aria-current="page"
            href="{% url 'session' %}"
            >Create Session</a
          >
        </li>
        {% endif %}
        <div class="d-flex align-items-center gap-2">
          {% if user.is_superuser %}
          <li class="nav-item">
            <a
              class="nav-link active nav-text"
              aria-current="page"
              href="{% url 'register' %}"
              ><i class="fa-solid fa-user-plus"></i
            ></a>
          </li>
          {% endif %} {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link active nav-text"
              aria-current="page"
              href="{% url 'profile' %}"
              ><i class="fa-solid fa-user"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active nav-text"
              aria-current="page"
              href="{% url 'logout' %}"
              ><i class="fa-solid fa-right-from-bracket"></i
            ></a>
          </li>
          {% endif %}
        </div>
      </ul>
    </div>
  </div>
</nav>
